
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Index</h2>
<style>
    .tri-A1 {
        width: 100px;
        height: 100px;
        border-top: none;
        border-bottom: 100px solid dodgerblue;
        border-right: 100px solid transparent;
        border-left: none;
        position: absolute;
        left: 0;
        top: 0;
    }

    .tri-A2 {
        width: 100px;
        height: 100px;
        border-top: 100px solid green;
        border-bottom: none;
        border-right: none;
        border-left: 100px solid transparent;
        position: absolute;
        left: 0;
    }
    /*    .tri-A3{
         width: 100px;
          height: 100px;
          border-top: 100px solid dodgerblue;
          border-bottom: 100px solid transparent;
          border-left: 100px solid transparent;
          position:absolute;
          left:100px;
    }
    .tri-A4 {
        width: 100px;
        height: 100px;
        border-top: 100px solid transparent;
        border-bottom: none;
        border-left: 100px solid green;       
        position: absolute;
        left:100px;
    }

    .tri-A5{
         width: 100px;
          height: 100px;
          border-top: 100px solid dodgerblue;
          border-bottom: 100px solid transparent;
          border-left: 100px solid transparent;
          position:absolute;
          left:200px;
    }
    .tri-A6 {
        width: 100px;
        height: 100px;
        border-top: 100px solid transparent;
        border-bottom: none;
        border-left: 100px solid green;       
        position: absolute;
        left: 200px;
    }*/
</style>
<div class="container">
    <div class="row">
        <div style=" border: solid 1px navy; height: 600px; display: inline-block; float: left" class="col-lg-12">
            <div class="tri-A1"></div>
            <div class="tri-A2"></div>
            <div class="tri-A3"></div>
            <div class="tri-A4"></div>
            <div class="tri-A5"></div>
            <div class="tri-A6"></div>

        </div>
    </div>
</div>